@import '../../Styles/includes/mixins';
@import '../../Styles/includes/variables';
@import '../../Styles/includes/colors';

.works-collection {
    flex: 0 0 30%;

    &__thumbnail {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        border: 3px solid $dark-gray-2;
        border-radius: 16px;
        cursor: pointer;
        display: block;
        width: 100%;
        height: 266px;
        margin-bottom: 20px;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        line-height: 1;
        color: $dark-gray-2;
        opacity: .8;
        margin-bottom: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
}