$breakpoints: (
    mobile: 375px,
    tablet: 768px,
    small-desktop: 960px,
    large-desktop: 1248px,
    maxpoint: 1440px
);

@mixin when-wider-than($target) {
    @media all and (min-width: map-get($breakpoints, $target)) {
        @content;
    }
}

@mixin when-less-than($target) {
    @media all and (max-width: map-get($breakpoints, $target) - 1) {
        @content;
    }
}