@import '../../Styles/includes/mixins';
@import '../../Styles/includes/variables';
@import '../../Styles/includes/colors';

.navigation {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: $white;

    @include when-wider-than(small-desktop) {
        align-items: flex-end;
        background-color: transparent;
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 1;
        margin: 5px 0;
        background-color: transparent;
        border: none;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        cursor: pointer;
        color: $black;
        opacity: .6;
        transition: opacity .3s ease-out;

        &:hover {
            opacity: 1;
        }

        @include when-wider-than(tablet) {
            font-size: 26px;
            letter-spacing: 1.5px;
        }

        @include when-wider-than(small-desktop) {
            font-size: 18px;
            letter-spacing: 1.2px;
            margin: 8px 0;
        }

        @include when-wider-than(large-desktop) {
            font-size: 20px;
            letter-spacing: 1.5px;
            margin: 10px 0;
        }
    }
}