@import '../../Styles/includes/mixins';
@import '../../Styles/includes/variables';
@import '../../Styles/includes/colors';

.section-main {
    height: 100vh;
    background-color: rgba($white, 0.6);

    @include when-wider-than(small-desktop) {
        background-color: transparent;
    }

    .container {
        height: 100%;
    }

    .header-title {
        position: absolute;
        bottom: 80px;
        left: 0;

        @include when-wider-than(tablet) {
            bottom: 60px;
        }

        @include when-wider-than(small-desktop) {
            position: sticky;
            top: 50%;
            bottom: auto;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .navigation {
        position: sticky;
        left: 100%;
        top: 20px;
        margin-bottom: 200px;

        @include when-wider-than(tablet) {
            position: absolute;
            right: 0;
            top: 60px;
            left: auto;
            margin-bottom: 0;
        }

        @include when-wider-than(small-desktop) {
            position: sticky;
            left: 100%;
            right: auto;
            top: 200px;
        }

        @include when-wider-than(large-desktop) {
            top: 50%;
            transform: translateY(calc(-50% - 150px));
        }
    }
}