@import '../../Styles/includes/mixins';
@import '../../Styles/includes/variables';
@import '../../Styles/includes/colors';

.section-skills {
    padding-top: 80px;
    background-color: rgba($white, 0.9);
    .skills-container {
        @include when-wider-than(small-desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}